<div id="navbar">

  <mat-toolbar>
      <button mat-button routerLink="/">
        <img src="../../../assets/carrot.jpg">
      </button>
  
      <div class="fill-remaining-space" fxLayout="row" fxShow="true" fxHide.lt-sm>
          <button mat-button routerLink="/dashboard">Dashboard</button>
          <button mat-button routerLink="/games">Games</button>
          <button id="navigation-profile" mat-button (click)="goToProfile()">Profile</button>
          <button id="navigation-logout" mat-button routerLink="/logout">Logout</button>
      </div>
      <div class="fill-remaining-space" fxLayout="row-reverse" fxHide="true" fxShow.lt-sm>
        <button mat-button [mat-menu-trigger-for]="menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      <button mat-menu-item routerLink="/games">Games</button>
      <button id="navigation-profile" mat-menu-item (click)="goToProfile()">Profile</button>
      <button id="navigation-logout" mat-menu-item routerLink="/logout">Logout</button>
  </mat-menu>

</div>