
#tab-title
    text-align: center;
    margin: auto;
    margin-bottom: 20px;

.flex-container
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;

md-grid-tile.mat-grid-tile .mat-figure
  align-items: initial;

.selected
  background-color: #CFD8DC !important;
  color: white;

#games-list-info, #game-search
    margin: 5% auto;
    width: 95%

#error-line, #empty-list
    margin: 5% auto;
    width: 95%
    text-align: center

#games-list
    margin: 5% auto;
    margin: auto;
    margin-top: 20px;
    max-width: 95%;

    #random-game
        text-align: center;

.mat-card-header
    line-height: 19px !important;

.game-card
    width: 250px;

    .mat-card-title
        font-weight: bold;
        height: 50px;
        width: 100%;
        line-height: 15px;

    img
        object-fit: contain;
        height: 200px;
        width: 100%;
        margin: 0 auto;

    .mat-card-actions
        display: flex;
        -moz-flex-direction: row;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        margin: auto;
        max-height: 98%;
        max-width: 98%;
        margin-bottom: 5px

    .card-button
        display: inline-flex;
        min-width: 60px;
