<h2 id="tab-title">Change Password</h2>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fe6100" type="pacman"></ngx-spinner>

<mat-card id="user-card">
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onFormSubmit(passwordForm.value)">
      <table id="formTable">
        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Old Password</mat-label>
              <input type="password" formControlName="OldPassword" matInput placeholder="Old Password" required>
              <mat-error *ngIf="!passwordForm.get('OldPassword').valid && passwordForm.get('OldPassword').touched">
                Just a quick reminder: Your current password probably has 6 characters or more.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>New Password</mat-label>
              <input type="password" formControlName="NewPassword" matInput placeholder="New Password" required>
              <mat-error *ngIf="!passwordForm.get('NewPassword').valid && passwordForm.get('NewPassword').touched">
                Your password must be at least 6 characters long.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Confirm your new password</mat-label>
              <input type="password" formControlName="PasswordConfirm" matInput placeholder="Confirm New Password"
                required>
              <mat-error *ngIf="pwConfirm.touched && (!pwConfirm.valid || pwConfirm.hasError('confirm'))">
                Your Passwords don't match.
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-footer>
    <mat-card-actions>
      <button mat-raised-button color="accent" (click)="cancelChangePassword()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onFormSubmit(passwordForm.value)" [disabled]="!passwordForm.valid || IsAccepted==0">Submit</button>
    </mat-card-actions>
  </mat-card-footer>
</mat-card>